.services{
}
.services__flex{

}
.site__title{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color:#000;
    text-align: center;
    margin-bottom: 26px;
}
.tilte__line{
    display: block;
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 33px;
}
.services__text{
    margin: 0;
    max-width: 952px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color:#7D7987;
    text-align: center;
    margin-bottom: 80px;
}

.services__card{
    display: flex;
    justify-content: space-between;
    gap: 34px;
    flex-wrap: wrap;
    margin-bottom: 90px;

}
.services__card__item{
    width: 28%;
    padding-left: 37px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;

}
.services__card__item-img{
    width: 91px;
    height: 70px;
    margin-top: 54px;
    margin-bottom: 45px;
}
.services__card__item-title{
    margin: 0;
    font-size: 24px;
    color:#000;
    font-weight: 700;
    margin-bottom: 22px;
}
.services__card__item-text{
    margin: 0;
    max-width: 266px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 54px;
}
.btn{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #458FF6;
    padding: 23px 50px;
    border: 1px solid #458FF6;
    border-radius: 100px;
}
.btn__services{
    text-align: center;
    margin-bottom: 220px;
}
.services__info{
    margin-bottom: 250px;
}
.services__info__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__info__item__img img{
    max-width: 100%;
}
.services__info__item__content{
    max-width: 40%;
}
.services__info__item__content-title{
    margin: 0;
    max-width: 480px;
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 26px;
}
.services__info__item__content-line{
    display: block;
    width: 56px;
    height: 2px;
    background-color: #000;
    margin-bottom: 31px;
}
.services__info__item__content-text{
    max-width: 400px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color:#7D7987;
    margin-bottom: 60px;
}
.services__info__item--revers{
    flex-direction: row-reverse;
    margin-top: 230px;
}
.article__card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article__card__item{
    width: 30%;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 70px;

}
.article__tilte__line{
    margin-bottom: 75px;
}
.article__card__item__img{
    display: block;
    width: 100%;
    margin-bottom: 24px;
}
.article__card__item__title{
    max-width: 251px;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 12px;
    margin-left: 37px;
}
.article__card__item__text{
    max-width: 266px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    margin-left: 37px;
    margin-bottom: 25px;
}
.article__card__item__link{
    display: inline-block;
    margin-left: 37px;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    color:#458FF6;
}
@media(max-width:1024px){
    .services__card__item{
        width: 43%;
    }
}
@media(max-width:768px){
    .services__info{
        margin-bottom: 90px;
    }
    .services__card__item{
        width: 40%;
    }
    .services__info__item{
        flex-direction: column;
    }
    .article__card{
        flex-direction: column;
    }
    .article__card__item{
        width: 100%;
    }
    .services__info__item__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }
    .services__info__item__content-title{
        text-align: center;
        margin-top: 80px;
    }
    .services__info__item--revers{
        margin-top: 150px;
    }

    
}
@media(max-width:576px){
    .services__card__item{
        width: 100%;
    }
}