/*обнуление*/
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style-type: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,
body{
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color:#252B42;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	background-color: #fafafa;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container{
	max-width: 1076px;
	margin: 0 auto;
	padding: 0 15px;
}
._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
}




/* мобильное меню */
.mob-menu{
	position: relative;
	z-index: 100;
	display: none;
	cursor: pointer;
}
.mob-menu i {
	font-size: 20px;
}




/*header*/
.header{
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	z-index: 50;
}
.header__container{
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo{
	position: relative;
    z-index: 100;
	font-size: 24px;
	font-weight: 700;
	color:inherit;
}
.header__menu{
	margin-left: 133px;
	padding: 5px 0;
}
.menu__list{
	display: flex;
	flex-wrap: wrap;
}
.menu__item{
	margin-right: 21px;
}
.menu__item:last-child{
	margin-right: 0px;
}
.menu__link{
	color:#737373;
	font-weight: 600;
	line-height: 171%;

	transition: color .25s ease;
}
.menu__link:hover{
	color:#000;
}




/* page */
.page{
	flex:1 1 auto;
}
.page__main-block{

}
.page__services{
	position: relative;
	z-index: 2;
	margin: -111px 0 0 0;
}
.page__advantages{

}
.page__practice{

}
.page__whoweare{

}
.page__clients:not(:last-child){
	margin:0 0 10px 0;
}
.page__subscribe{

}
.page__contact{

}



/* header block */
.header-block{
	text-align: center;
}
.header-block__title{
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.1px;
}
.header-block__title:not(:last-child){
	margin-bottom: 10px;
}
.header-block__sub-title{
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color:#737373;
}

/* main */
.main-block{
	position: relative;
}
.main-block__container{

}
.main-block__body{
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
.main-block__body > *:not(:last-child){
	margin-bottom: 35px;
}
.main-block__title{
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	font-weight: 800;
}
.main-block__text{
	font-size: 20px;
	line-height: calc(30 / 20 * 100%);
	font-weight: 500;
	color:#737373;
}
.main-block__buttons{
	display: inline-flex;
	gap:10px;
	flex-wrap: wrap;
}
.main-block__button{
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	padding: 5px 36px;
	text-align: center;
	font-size: 14px;
	line-height: calc(28 / 14 * 100%);
	font-weight: 700;
	letter-spacing: .2px;
}
.main-block__button_orange{
	background: #FF7B47;
	color:#fff;
}
.main-block__button_border{
	color:#0D5C63;
	border:1px solid #0D5C63;
}
.main-block__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
}




/*services */
.services{

}
.services__container{

}
.services__body{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.services__column{
	padding: 0 15px;
	flex: 0 1 33.333%;
}
.services__item{
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
	height: 100%;
}
.item-services_green{
	background-color: #0D5C63;
}
.item-services_green .item-services__title{
	color:#fff;
}
.item-services_green .item-services__text{
	color:#fff;
}
.item-services{

}
.item-services__icon{

}
.item-services__title{
	font-size: 24px;
	font-weight: 700;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: .1px;
	margin: 10px 0;
}
.item-services__text{
	font-size: 14px;
	font-weight: 500;
	color:#737373;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: .2px;
}




/* adventages */
.advantages{
	padding: 80px 0;
}
.advantages__container{

}
.advantages__header{
	margin-bottom: 50px;
}
.advantages__body{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
}
.advantages__column{
	padding: 0 15px;
	margin:0  0 30px 0;
	flex: 0 1 25%;
}
.advantages__item{
	background-color: #fff;
	padding: 30px;
	text-align: center;
}
.advantages__item > *:not(:last-child){
	margin-bottom: 10px;
}
.advantages__icon{
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value{
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40 * 100%);
}
.advantages__text{
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 * 100%);
	color:#737373;
	letter-spacing: .1px;
}




/*practice  */
.practice{
	padding: 125px 0 80px 0;
}
.practice__container{

}
.practice__header{
	margin-bottom: 45px;
}
.practice__body{
	margin: 0 -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column{
	padding: 0 20px;
	margin-bottom: 30px;
	flex:0 1 25%;
}
.practice__item{

}
.item-practice__content{
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice{
	background-color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.item-practice__link{
	color:#252B42;
	display: inline-block;
}
.item-practice__link:hover{
	text-decoration: underline;
}
.item-practice__link:not(:last-child){
	margin-bottom: 15px;
}
.item-practice__title{
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 * 100%);
	letter-spacing: .1px;
}
.item-practice__text{
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%);
	color:#737373;
	letter-spacing: .2px;
}
.item-practice__image{
	display: block;
	padding-bottom: 60%;
}




/* whoweare */
.whoweare{
	padding: 80px 0 130px 0;
	background-color: #FFFFFF;
}
.whoweare__container{

}
.whoweare__header{
	margin: 0 0 100px 0;
}
.whoweare__body{
	display: flex;
	align-items: flex-start;
}
.whoweare__video{
	flex:0 0 57%;
	position: relative;
	padding: 0 0 42.25% 0;
}
.whoweare__video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
}
.whoweare__content{
	flex:1 1 auto;
	padding: 20px 0 0 121px;
}
.whoweare__title{
	font-size: 40px;
	font-weight: 700;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: .1px;
}
.whoweare__title:not(:last-child){
	margin: 0 0 10px 0;
}
.whoweare__text{
	font-size: 14px;
	font-weight: 500;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: .2px;
	color:#737373;
}
.whoweare__items{
	padding: 50px 0 0 0;
}
.whoweare__item{
	display: flex;
}
.whoweare__item:not(:last-child){
	margin: 0 0 30px 0;
}
.item__whoweare{

}
.item__whoweare__icon{
	flex:0 0 32px;
}
.item__whoweare__body{
	flex:1 1 auto;
	padding: 0 0 0 20px;
}
.item__whoweare__title{
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 *100%);
	letter-spacing: .1px;
}
.item__whoweare__title:not(:last-child){
	margin: 0 0 5px 0;
}
.item__whoweare__text{
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: .2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 225px;
	overflow: hidden;
	color:#737373;
}



/* clients */
.clients{
	padding: 50px 0;
}
.clients__container{

}
.clients__items{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.clients__item{
	padding: 22px 22px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}
.clients__item img{
	max-width: 100%;
}




/* subscribe */
.subscribe{
	position: relative;
	padding: 0 0 20px 0;
}
.subscribe::before{
	content: '';
	background: #252B42;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	z-index: -1;
}
.subscribe__container{

}
.subscribe__body{
	align-items: center;
	padding: 30px 50px;
	background-color: #17213C;
	border-radius: 2px;
}
@media(min-width:1040px){
	.subscribe__body{
		margin: 0 30px;
	}
}
.subscribe__title{
	font-size: 24px;
	font-weight: 700;
	/* line-height: calc(32 / 24 * 100%); */
	color:#fff;
}
@media(min-width:810px){
	.subscribe__body{
		display: flex;
		justify-content: space-between;
	}
	.subscribe__title{
		max-width: 266px;
	}
}
@media(max-width:810px){
	.subscribe__title{
		margin: 0 0 20px 0;
	}
	.subscribe__body{
		margin: 0 -15px;
		padding: 20px 15px;
	}
}
.subscribe__form{
	flex:0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input{
	flex:1 1 100%;
	width: 100%;
	padding: 15px 20px;
	background: #f9f9f9;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 58px;
	border-radius: 5px 0px 0px 5px;
	border-right: 0px;
	border: 1px solid #E6E6E6;
}
.subscribe__input::placeholder{
	color:r#737373;
	font-weight: 400;
	letter-spacing: .2px;
}
.subscribe__button{
	padding: 0 22.5px;
	background-color: #FF7B47;
	font-weight: 400;
	/* line-height: calc(28 / 14 * 100%); */
	color:#fff;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #E6E6E6;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-left: 0px;
}




/* getInToush */
.getInToush{
	padding: 80px 0 136px 0;
}
.getInToush__header{
	margin:0  0 80px 0;
}
.getInToush__items{
	margin: 0 -15px;
}
@media(min-width:992px){
	.getInToush__items{
		margin: 0;
		display: flex;
		align-items: center;
	}
}
.getInToush__item{
	flex:0 1 33.333%;
}
.item-getInToush{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding:50px 15px;
}
.item-getInToush > *:not(:last-child){
	margin: 0 0 15px 0;
}
.item-getInToush__icon{

}
.item-getInToush__emails{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getInToush__email{
	color:inherit;
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
.item-getInToush__email:hover{
	text-decoration: underline;
}
.item-getInToush__label{
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 * 100%);
}
.item-getInToush__button{
	font-size: 14px;
	letter-spacing: 0.2px;
	color:#FF7B47;
	border: 1px solid #FF7B47;
	border-radius: 5px;
	display: flex;
	align-items: center;
	text-align: center;
	min-height: 44px;
	padding: 5px 20px;
	transition: all .25s ease;
}
.item-getInToush__button:hover{
	background-color: #FF7B47;
	color:#fff;
}
.item-getInToush_active{
	background-color: #252B42;
	padding:80px 15px;
}
.item-getInToush_active .item-getInToush__email{
	color:#fff;
}
.item-getInToush_active .item-getInToush__label{
	color:#fff;
}
.item-getInToush_active .item-getInToush__button{
	border: 1px solid #fff;
	color:#fff;
}




/* contact */
.contact{
	background-color: #fff;
	padding: 42px 0;
}
.contact__container{

}

@media(min-width:767px){
	.contact__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.contact__content{
	padding: 0 20px 0 0;
}
.contact__content:not(:last-child){
	margin:0 0 30px 0;
}
.contact__title{
	font-size: 24px;
	font-weight: 700;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
}
.contact__title:not(:last-child){
	margin: 0 0 10px 0;
}
.contact__text{
	font-size: 14px;
	line-height: calc(20 / 14 * 100%);
	color: #737373;
}
.contact__button{
	color:#fff;
	background-color: #FF7B47;
	border-radius: 5px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	min-height: 58px;
	padding: 5px 40px ;
	transition: background-color .25s ease;
}
.contact__button:hover{
	background-color: #aa5330;
}


/* footer */
.footer{

}
.footer__top{
	background-color: #17213C;
	padding: 35px 0;
}
.footer__main{

}
.footer__row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.footer__column{
	flex:0 1 16,6667%;
	padding: 15px 15px;
	color:#fff;
}
.footer__column:last-child{
	flex:0 1 33.334%;
}
.footer__label{
	font-size: 16px;
	font-weight: 700;
	line-height: calc(24 / 16 * 100%);
	margin:0 0 20px 0;
	letter-spacing: .2px;
}
.footer__menu{

}
.menu-footer{

}
.menu-footer__list{

}
.menu-footer__item{

}
.menu-footer__item:not(:last-child){
	margin:0 0 10px 0;
}
.menu-footer__link{
	color:inherit;
	font-weight: 600;
	display: inline-block;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: .2px;
}
.menu-footer__link:hover{
	text-decoration: underline;
}
.footer__contacts{

}
.contacts__footer{
	display: flex;
	flex-direction: column;
}
.contacts__footer__item{
	padding: 0 0px 0 34px ;
	display: flex;
	align-items: center;
	min-height: 30px;
	font-weight: 600;
	color:#fff;
	line-height: calc(24 / 14 * 100%);
}
.contacts__footer__item:not(:last-child){
	margin: 0 0 10px 0;
}
.contacts__footer__item:hover{
	text-decoration: underline;
}
.contacts__footer__item-phone{
	background: url(../img/footer/phone.svg) 0 0 no-repeat;
	
}
.contacts__footer__item-map{
	background: url(../img/footer/location.svg) 0 0 no-repeat;
}
.contacts__footer__item-email{
	background: url(../img/footer/mail.svg) 0 0 no-repeat;
}
.footer__bottom{
	padding: 25px 0;
}
.footer__container{
	
}
@media(min-width:767px){
	.footer__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.footer__copy{
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	color:#737373;
	letter-spacing: .2px;
}
.footer__social{
	display: flex;
	align-items: center;
}
.social{

}
.social__item:not(:last-child){
	margin: 0 20px 0 0px;
}








/*media*/

@media(max-width:1300px){
	.main-block__image img{
		object-position: right;
	}
}
@media(max-width:1040px){
	.practice__column{
		flex:0 1 50%;
	}
	.whoweare__content{
		padding: 0 0 0 50px;
	}
}
@media(max-width:1000px){
	.advantages__column{
		flex:0 1 50%;
	}
}
@media(max-width:992px){
	.header__menu{
		margin-left: 80px;
	}
	.main-block__image img{
		opacity: .5;
	}
	.main-block__body{
		padding: 120px 0 191px 0;
	}
	.services__column{
		flex: 0 1 50%;
		margin:0 0 30px 0;
	}
	.services__column:last-child{
		flex: 1 1 100%;
	}
	.header-block__title{
		font-size: 35px;
	}
	.practice{
		padding: 40px 0 80px 0;
	}
	.whoweare__body{
		flex-direction: column;
		align-items: stretch;
	}
	.whoweare__title{
		font-size: 30px;
	}
	.whoweare__content {
    	padding: 0 0 0 0px;
	}
	.whoweare__video{
		padding: 0 0 56.25% 0;
	}
	.whoweare__video:not(:last-child){
		margin: 0px 0 50px 0;
	}
	.getInToush__header{
		margin:0  0 30px 0;
	}
	.item-getInToush_active{
		padding: 50px 0 50px 0;
	}
	.getInToush{
		padding: 50px 0 50px 0;
	}
	.footer__column{
		flex:0 1 25%;
	}
	.footer__column:last-child{
		flex:0 1 100%;
	}
}
@media(max-width:767px){
	.header__menu{
		margin-left: 40px;
	}
	.header-block__title{
		font-size: 30px;
	}
	.practice{
		padding: 0px 0 40px 0;
	}
	.whoweare{
		padding: 50px 0 50px 0;;
	}
	.whoweare__header{
		margin: 0 0 30px 0;
	}
	.contact__title{
		font-size: 20px;
	}
	.footer__column{
		flex:0 1 50%;
	}
	.footer__container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap:15px;
	}
	.footer__copy{
		text-align: center;
	}
}
@media(max-width:670px){
	.services__column{
		flex: 0 1 100%;
		margin:0 0 30px 0;
	}
	.header__container{
		justify-content: space-between;
	}
	.mob-menu{
		display: block;
	}
	.menu__list{
		display: block;
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		text-align: center;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: all .55s ease;
	}
	.menu__list.active{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	.menu__list .menu__item{
		margin-right: 0;
	}
	.menu__list .menu__item:first-child{
		margin-top: 100px;
	}
	.menu__link{
		font-size: 35px;
	}
	.advantages{
		padding: 30px 0;
	}
	.header-block__title{
		font-size: 25px;
	}
	.practice__column{
		flex:0 1 100%;
	}
	.whoweare__title{
		font-size: 25px;
	}
}
@media(max-width:560px){
	.advantages__column{
		flex:1 1 100%;
	}
}
@media(max-width:479px){
	.header__container{
		min-height: 70px;
	}
	.main-block__title{
		font-size: 42px;
	}
	.main-block__text{
		font-size: 18px;
		color:rgba(20, 19, 20);
	}
	 
	.main-block__button{
		display: block;
		margin: 0 auto;
		flex:1 1 100%;
	}
	.main-block__body > *:not(:last-child){
		margin-bottom: 22px;
	}
	.services__item{
		padding: 15px;
	}
	.header-block__title{
		font-size: 20px;
	}
	.header-block__sub-title{
		font-size: 14px;
	}
	.whoweare__title{
		font-size: 20px;
	}
	.footer__column{
		flex:0 1 100%;
	}
}